// Colors
$color_default: #000;
$color_fg_1: #4a4a4a;
$color_fg_2: #ccc;
$color_main_bg: #f2f2f2;
$color_primary: #ae0d55;
$color_secondary: #db236d;
$color_tertiary: #d5236b;
$color_hili_1: #42c4ef;
$color_hili_2: #fff;
$color_hili_3: #8bdbf4;
$color_hover_1: #ff3a89;
$color_text_1: #767676;
$color_primary_nav_bg: #f4f4f4;
$color_messages_bg: #fff8a4;

// Text
$font_size_super_big: 36px;
$font_size_big: 24px;
$font_family_heading: 'Oswald', Arial, sans-serif;

// Layout
$padding_default: 10px;
$width_content: 994px;
$margin_vertical: 20px;
