{% extends "vodkamartiniquiz/base_quiz.html" %}

{% block title %}{{ block.super }}{% endblock %}

{% block bodyclass %}{{ block.super }} quiz-detail{% endblock %}

{% block content %}
{% load url from future %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<article>
    <h1>{{ quiz.title }}</h1>
    <p>Published on {{ quiz.created|date:"F j, Y" }}</p>

    {{ quiz.body_html|safe }}
    {% if quiz.image %}
        <p><img src="{{ quiz.image.url }}" alt="" /></p>
    {% endif %}

    {% for question in question_list %}
        <p>Question: {{ question.pk }}: {{ question.question }}</p>
    {% endfor %}

    {% if first_question_id %}
        <p>First question URL: {% url 'vodkamartiniquiz_question_detail' slug=quiz.slug pk=first_question_id %}</p>
        <p><a href="{% url 'vodkamartiniquiz_question_detail' slug=quiz.slug pk=first_question_id %}">Take the quiz</a></p>
    {% endif %}

    {% comment %}
    <p>Author: <strong>{{ quiz.author.id }} {{ quiz.author.username }}</strong></p>
    {% endcomment %}

</article>

<p><a href="{% url 'vodkamartiniquiz_quiz_home' %}">back to quizzes home</a></p>

{% endblock content %}
