{% extends "vodkamartinisweeps/base_sweeps.html" %}

{% block title %}{{ block.super }}{% endblock %}

{% block bodyclass %}{{ block.super }} sweepentry-form{% endblock %}

{% block content %}
{% load url from future %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<article>
    <h1>The sweeps title: {{ sweep.title }}</h1>
</article>

<form action="{% url 'vodkamartinisweeps_sweepentry_detail' slug=sweep.slug %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="submit" value="Submit" />
</form>

{% comment %}
<p>This sweep URL: {% url 'vodkamartinisweeps_sweepentry_detail' slug=sweep_slug %}</p>
{% endcomment %}

{% endblock content %}
