{% extends "vodkamartinisweeps/base_sweeps.html" %}

{% block title %}{{ block.super }}{% endblock %}

{% block bodyclass %}{{ block.super }} sweeps-detail{% endblock %}

{% block content %}
{% load url from future %}
    <p>content here</p>
    <p>the var: {{ var }}</p>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<article>
    <h1>{{ sweeps.title }}</h1>
    <p>Published on {{ sweeps.created|date:"F j, Y" }}</p>

    {{ sweeps.body_html|safe }}
    {% if sweeps.image %}
        <p><img src="{{ sweeps.image.url }}" alt="" /></p>
    {% endif %}

    {% for sweep in sweeps_list %}
        <p>Question: {{ sweep.pk }}: {{ sweep.sweep }}</p>
    {% endfor %}

    {% if first_sweep_id %}
        <p>First sweep URL: {% url 'vodkamartinisweeps_sweep_detail' slug=sweeps.slug pk=first_sweep_id %}</p>
        <p><a href="{% url 'vodkamartinisweeps_sweep_detail' slug=sweeps.slug pk=first_sweep_id %}">Take the sweeps</a></p>
    {% endif %}
</article>

<p><a href="{% url 'vodkamartinisweeps_home' %}">back to sweeps home</a></p>

{% endblock content %}
