{% extends "vodkamartinisweeps/base_sweeps.html" %}

{% block title %}{{ block.super }}{% endblock %}

{% block bodyclass %}{{ block.super }} sweepentry-submitted{% endblock %}

{% block content %}
{% load url from future %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<article>
    <h1>Thank you for participating</h1>
    <h1>The sweeps title: {{ sweep.title }}</h1>
</article>

    {% comment %}
<p>This quiz URL: <a href="{{ object.quiz.get_absolute_url }}">{{ object.quiz.get_absolute_url }}</a></p>


{% if previous_question_id %}
    <p>Previous question URL: <a href="{% url 'vodkamartiniquiz_question_detail' slug=quiz_slug pk=previous_question_id %}">{% url 'vodkamartiniquiz_question_detail' slug=quiz_slug pk=previous_question_id %}</a></p>
{% endif %}

{% if next_question_id %}
    <p>Next question URL: <a href="{% url 'vodkamartiniquiz_question_detail' slug=quiz_slug pk=next_question_id %}">{% url 'vodkamartiniquiz_question_detail' slug=quiz_slug pk=next_question_id %}</a></p>
{% endif %}

<p><a href="{% url 'vodkamartiniquiz_quiz_home' %}">back to quizzes home</a></p>
    {% endcomment %}

{% endblock content %}
